
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.nav {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 15px 20px;
  
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  position: relative;
  background-color: #04A5C4;
}


.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 45px;
  height: 45px;
}

.nav-links {
  display: flex;
  justify-content: center;   
  align-items: center;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 16px;
}

.nav-links a.active {
  color: whitesmoke;
}


.right-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
}


.signup-btn {
  padding: 8px 18px;
  border: none;
  border-radius: 20px;
  background: #44b549;
  color: white;
  cursor: pointer;
  font-size: 15px;
}


.cart-icon {
  position: relative;
  font-size: 20px;
}

.cart-count {
  position: absolute;
  top: -10px;
  right: -12px;
  background: red;
  color: white;
  font-size: 12px;
  padding: 2px 7px;
  border-radius: 50%;
}


.menu-btn {
  display: none;
  font-size: 26px;
  background: none;
  border: none;
  cursor: pointer;
}


.sidebar {
  position: fixed;
  top: 0;
  left: -260px;
  width: 250px;
  height: 100%;
  background: white;
  padding: 20px;
  box-shadow: 2px 0 10px rgba(0,0,0,0.2);
  transition: left 0.3s ease;
  z-index: 1000;
}

.sidebar.open {
  left: 0;
}


.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.close-btn {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}


.sidebar a {
  display: block;
  margin: 15px 0;
  text-decoration: none;
  color: black;
  font-size: 18px;
}


.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  z-index: 999;
}

@media (max-width: 768px) {

  .nav {
    display: flex;
    justify-content: center;
  }

  .menu-btn {
    display: block;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  .logo {
    margin: 0 auto;
  }

 
  .right-nav {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    gap: 10px;
  }


  .nav-links {
    display: none;
  }

  .close-btn {
    display: block;
  }
}