.checkout {
  display: flex;
  gap: 30px;
  padding: 40px 5%;
}


.checkout-form-box {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.checkout-form-box input,
.checkout-form-box select {
  width: 100%;
  margin: 8px 0;
  padding: 10px;
}

.checkout-summary {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.summary-item {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.summary-item img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}


@media (max-width: 768px) {
  .checkout {
    flex-direction: column;
  }
}